body {
  background-color: #242221;
}

.page-enter {
  z-index: 10;
  transform: translateX(100%);
}

.page-enter-active {
  z-index: 10;
  transform: translateX(0%);
  transition: transform 1000ms;
}

.page-enter-done {
  z-index: 10;
  transform: translateX(0%);
}

.page-exit {
  position: absolute;
  top: 2.75rem;
  left: 0;
  z-index: 5;
  transform: translateX(0%);
}

.page-exit-active {
  z-index: 5;
  transform: translateX(-100%);
  transition: transform 1000ms;
}

.page-exit-done {
  z-index: 5;
  transform: translateX(-100%);
}
